drf_lbcms/templates/drf_lbcms/email/FancyYellow/mail.pug
| {% load lbcms %}

html(xmlns="http://www.w3.org/1999/xhtml")
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        title Untitled Document
        <!-- FancyYellow theme-->
        style
            include ../bootstrap-min.css
        style
            include ./style.css
        //-
    body
        table.logo
            tbody
                tr
                    td
                        img(src="{% site_logo_img_url size='min' %}")
        table.body(style="{% if PLATFORM!='prod'%}background:red !important;{% endif%}")
            tbody
                tr.body-title
                    td
                    td
                        h3
                            a(href='') {% translate settings.siteTitle %}
                        h1
                            | {% if PLATFORM != 'prod' %}TEST EMAIL:{% endif %}
                            | {% translate emailSubject %}
                    td
                tr.body-hr
                    td
                    td
                    td
                tr.body-items(style="padding:10px 0; text-align: center;")
                    td
                    td(style="color: white;padding-bottom: 2.4em;")
                        | {{ TEMPLATE | safe }}
                    td
        table.footer
            | {% block footer %}
            tbody
                tr
                    td
                        | {% for contact in settings.publicContacts %}
                        span(style="padding-right:7px;")
                            | {% uic_contact contact 11 'white' %}
                        | {% endfor %}
                    td
                    td
                        | {% for url in settings.seo.social %}
                        |   {% uic_site_brand_a url %}
                        | {% endfor %}
            | {% endblock %}
    
        | {% disable_email_trim %}

drf_lbcms/templates/drf_lbcms/email/FancyYellow/mail.html
{% load lbcms %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Untitled Document</title><!-- FancyYellow theme-->
    <style>



/* Tables */

.table {
  border-collapse: collapse !important;
}
.table td,
.table th {
  background-color: #fff;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}

.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}

.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}




/* text */
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}


/* widths */
.w-3em{
    width: 3em;
}
.w-4em{
    width: 4em;
}
.w-5em{
    width: 5em;
}
.w-6em{
    width: 6em;
}
.w-7em{
    width: 7em;
}
.w-8em{
    width: 8em;
}

    </style>
    <style>.logo {
  height: 70px;
  background: white;
  text-align: center;
  width: 100%;
}
.logo img {
  width: 100px;
}
.body {
  width: 100%;
  background-color: #ff7800;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}
.body .body-title td:nth-child(2) {
  max-width: 700px;
  width: 700px;
  color: white;
  text-align: center;
  padding-top: 50px;
}
.body .body-title td:nth-child(2) h3 {
  color: white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}
.body .body-title td:nth-child(2) h3 a {
  color: white;
}
.body .body-title td:nth-child(2) h1 {
  color: white;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}
.body .body-site-title td:nth-child(2) {
  max-width: 700px;
  width: 700px;
  color: white;
  text-align: center;
}
.body .body-site-title td:nth-child(2) h2 {
  color: white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}
.body .body-site-title td:nth-child(2) h2 a {
  color: white;
}
.body .body-hr {
  height: 2em;
}
.body .body-hr td:nth-child(2) {
  max-width: 700px;
  width: 700px;
  border-top: 1px solid #ff9333;
  padding-bottom: 1em;
  font-size: 1px;
  height: 1px;
  line-height: 1px;
}
.body .body-items > td:nth-child(2) {
  max-width: 700px;
  width: 700px;
}
.body .body-items > td:nth-child(2) > table {
  margin-bottom: 1em !important;
}
.body .body-items .bullet {
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  background: #ff7800;
}
.body .body-items .button {
  border-color: #ff7800 !important;
  color: #ff7800 !important;
  margin: 15px !important;
  margin-top: 30px !important;
}
.body .body-items .button a {
  color: #ff7800 !important;
}
.body .body-items .button-ng {
  border: 1px solid #ff7800;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  padding: 6px 12px;
  color: #ff7800 !important;
  text-decoration: none;
  font-size: 14px;
  float: right;
}
.body .body-items .button-ng span {
  padding: 6px 12px;
  font-style: "Open Sans", sans-serif;
}
.body .body-items .item {
  background-color: #F5F5F5;
  border-radius: 2px;
  width: 100%;
}
.body .body-items .item .img {
  width: 170px;
  text-align: left;
}
.body .body-items .item .img img {
  width: 150px;
}
.body .body-items .item h4 a {
  font-style: "Open Sans", sans-serif;
  color: black;
}
.body .body-items .item ul {
  padding-left: 15px;
  color: #ff7800;
}
.body .body-items .item ul li span {
  color: #8b8b8b;
  font-size: 13px;
}
.footer {
  width: 100%;
  background-color: #1A191E;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}
.footer td:nth-child(2) {
  max-width: 700px;
  width: 700px;
  text-align: center;
  padding: 15px 0;
}
.footer td:nth-child(2) a {
  color: #7e797d;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 20px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

    </style>
  </head>
  <body>
    <table class="logo">
      <tbody>
        <tr>
          <td><img src="{% site_logo_img_url size='min' %}"/></td>
        </tr>
      </tbody>
    </table>
    <table class="body" style="{% if PLATFORM!='prod'%}background:red !important;{% endif%}">
      <tbody>
        <tr class="body-title">
          <td></td>
          <td>
            <h3><a href="">{% translate settings.siteTitle %}</a></h3>
            <h1>
              {% if PLATFORM != 'prod' %}TEST EMAIL:{% endif %}
              {% translate emailSubject %}
            </h1>
          </td>
          <td></td>
        </tr>
        <tr class="body-hr">
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="body-items" style="padding:10px 0; text-align: center;">
          <td></td>
          <td style="color: white;padding-bottom: 2.4em;">{{ TEMPLATE | safe }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <table class="footer">{% block footer %}
      <tbody>
        <tr>
          <td>{% for contact in settings.publicContacts %}<span style="padding-right:7px;">{% uic_contact contact 11 'white' %}</span>{% endfor %}</td>
          <td></td>
          <td>
            {% for url in settings.seo.social %}
              {% uic_site_brand_a url %}
            {% endfor %}
          </td>
        </tr>
      </tbody>{% endblock %}
    </table>{% disable_email_trim %}
  </body>
</html>
